body {
	font-family: "acumin-pro", sans-serif;
	font-size: 18px;
	color: #88847F;
	line-height: 1.44;
	margin: 0;
	overflow-x: hidden;	
}
.title {
	font-size: 48px;
	line-height: 1.2;
	font-family: 'Playfair Display', serif;
	color: #2D2825;
	font-weight: normal;
}
.title--centre{
	text-align: center;
}
.title--quote{
	font-size: 30px;
	font-style: italic;
	color: rgba(46,41,38,.8);
	font-weight: normal;
}
.title--section{
	position: relative;
}
.title--section:after {
	content: "";
	display: block;
	position: absolute;
	width: 73px;
	height: 5px;
	left: 50%;
	bottom: -28px;
	transform: translateX(-50%);
	background: url(img/bg-nav.png) repeat-x;
}
.title--bot {
	margin-bottom: 90px;
	margin-top: 25px;
}
.title--top {
	margin-top: 120px;
	margin-bottom: 145px;
}
.title--small{
	font-size: 30px;
	position: relative;
}
.title--small:after {
	content: "";
	display: block;
	position: absolute;
	width: 15px;
	height: 3px;
	left: 50%;
	bottom: -20px;
	transform: translateX(-50%);
	background-color: #d3d2d1;
}
.titlesans {
	font-family: "acumin-pro", sans-serif;
	fon: 24px;
	color: #2D2825;
	font-weight: 700;t-size
	line-height: 1.2;
	text-decoration: none;
}
.titlesans--small {
	font-size: 18px;

}
.titlesans--up {
	font-size: 12px;
	color: #FFF;
	text-transform: uppercase;
}
.p--light{
	font-weight: 300;
	color: #2D2825;
}
.hide{
	display: none;
}
.title a, .titlesans a{
	text-decoration: none;
	color: #2D2825;
}
.title--prod {
	width:450px;
	font-size: 30px;
	color: #a6a4a2;
}
.heart {
	height: 25px;
	width: 25px;
	margin-left: 85px;		
}
.heart:hover, .heart a:focus {
	background-color: #d9c6ac;
	border-radius: 3px;

}


/*Les liens*/

.logo a {
	background-image: url(img/logo-hardgraft.png);
	background-repeat: no-repeat;
	width: 77px;
	height: 50px;
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.link {
	font-size: 12px;
	color: #2D2825;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	list-style: none;
}
.link--arrow {
	border-bottom: 2px #2D2825 solid;
	padding: 8px 0;
}
.link--arrow:before{
	content: "> ";
}
.link--more {
	border: 1px solid #2D2825;
	padding:19px 20px 20px 48px;
	border-radius: 5px;
	background: url(img/seeallarrow.png) no-repeat;
	background-position: 20px center;
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 40px;
}




/*image*/
.section{

}
.section__main--hd{
	padding-bottom: 80px;
}

.section--banner{
	background: url(img/banner__img.png) no-repeat right center;
}
.section--banner h2 {
	display: inline-block;
}
.section--banner h2:after {
	left: 0;
	transform: translateX(0);
	width: 40px;
	bottom: -20%;
}
.section--main{
	background: url(img/bg-glass.png) no-repeat left top,
	url(img/bg-bag.png) no-repeat right bottom #FAF8F6;
	padding: 0px 0 60px;
}
.section--incarnation{
	background: url(img/bg-glass2.png) no-repeat left bottom,
	url(img/bg-men.png) no-repeat right 290px,
	url(img/bg-incarnation.png) no-repeat center top;
	background-size: auto, auto, 100% 290px;
	padding-top: 290px;
	padding-bottom: 80px;
}
.incarnation{
	background: url(img/icon-designer.png) no-repeat center top;
	padding-top: 85px;
}
.incarnation--details{
	background-image: url(img/icon-details.png);
}
.incarnation--craft{
	background-image: url(img/icon-leather.png);
}
.incarnation p {
	font-size: 16px;
	line-height: 160%;
}
.section--footer{
	background: url(img/bg-footer.png)
	no-repeat #363433 70% bottom;
	font-family: 'Playfair Display', serif;
	color: #fff;
}
.credit{
	background-color: #141817;
	background-color: rgba(26,24,23,.4);
}
.about__prod {
	width: 410px;
	float: right;
}
.about__prod p {
	margin-top: 80px;
	font-size:18px;
	line-height: 180%;
	font-weight: 100;
}
.col1 {
	float: left;
	height: 150px;
	width: 280px;
}
.col2 {
	width: 360px;
	height: 150px;
	float: left;

}
.col3b {
	width: 275px;
	float: left;
	height: 150px;
	margin: 0px;
}
.infos_p {
	font-size: 15px;
	margin-top: 100px;
}


/*les listes*/

.nav{
	padding: 0;
	margin: 0;
	list-style: none;
	padding-top: 26px;
}
.nav__el{
	float: left;
	margin-left: 40px;
}
.nav__el:first-child {
	margin-left: 30px;
}
.nav__el a{
	font-size: 14px;
	text-transform:uppercase;
	font-weight: 700;
	color: #2D2825;
	text-decoration:none;
	height: 35px;
	margin-bottom: 20px;
	display: inline-block;
	opacity: .4;
}
.nav__el--actif a, .nav__el a:hover, .nav__el a:focus{
	opacity: 1;
	background: url(img/bg-nav.png)repeat-x left 25px;
	outline:0;
}
.nav__menu{
	float: none;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav__el--menu {
	margin-left: 110px;
	margin-bottom: 20px;
	position: relative;
}
.nav__el--menu:first-child:before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 2px;
	height: 30px;
	left: -25%;
	bottom: 30px;
	transform: translateX(-50%);
	background: url(img/bg-nav.png) repeat-y;
}
.nav__el--menu:after {
	content: "";
	display: inline-block;
	position: absolute;
	width: 2px;
	height: 30px;
	right: -55px;
	bottom: 30px;
	background: url(img/bg-nav.png) repeat-y;
}
.footer__el a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	opacity: .9;
	font-family: 'Playfair Display', serif;
}
.footer__el a:hover, .footer__el a:focus{
	background-color: #d9c6ac;
	color: #6f6558;
	border-radius: 2px;
}





/*layout*/ 

header{
	position:relative;
	height: 80px;	
}
.logo{
	position: absolute;
	top: 15px;
	margin: 0;
}
nav{
	float: right;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
	.container--banner{
		padding-right: 500px;
		width: 700px;

	}
.section--banner{
	height: 260px;
	padding: 160px 0 177px;
}
.title--quote{
	width: 450px;
	margin: 35px auto;
	position: relative;
}
.title--quote:before{
		content: "“";
		font-size: 80px;
		color: #EAE9E9;
		position: absolute;
		top: -21px;
		left: -40px;
}
.title--quote:after{
		content: "”";
		font-size: 80px;
		color: #EAE9E9;
		right: 10px;
		top: 30px;	
		position: absolute;
}
.product{
	margin: 0;
	padding: 0;
	list-style: none;
}
.product__el{
	background-color: #fff*; /*#fff*/
	width: 374px;
	float: left;
	margin: 0 39px 40px 0;
}
.product__el--big{
	width: 580px;
}
.product__el--hd:nth-child(3n+2) {
    background-color: #fff;
    margin-right: 0px; 
}
.product__el--prods:nth-child(3n+3) {
	background-color: #fff;
	margin-right: 0px;
}
.section__main--prods {
	padding: 0px 0 60px;
}
.product_info{
    background-color: #fff;
    padding: 29px 30px 33px 32px;
}
.titlesans_product{
    margin-top: 0;
}
.product_img{
    display:block;
    width: 730px;
    float: left;
    border-radius: 2px;
}
.small_img {
	float: left;
	width: 280px;
	margin-right: 22px;
	border-radius: 2px;
}
.container_img {
	float: left;
	margin-top: 30px;
	margin-top: 40px;
	position: relative;
}

.small_img:last-child {
	margin-right: 0px;
}

.link--more {
    text-align: center;
}
.incarnation {
    float :left;
    width: 340px;
    margin: 0 80px 40px 0;
}
.incarnation--last {
	margin-right: 0px;
}
.section-incarnation {
    padding bottom: 85px;
}
.col3 {
/* 4 col de la grille */
width: 394px;
float: left;
margin-left: -10px;
}
.col4 {
    /* 3 col de la grille*/
    width: 270px;
    float:left;
}
.fr {float:right;}
.fl {float:left;}

.credit {
    clear:both;
    height: 37px;
    line-height: 37px;
    padding: 5px 0;
    font-weight: bold;
}
.btn {
    cursor:pointer;
    padding: 0;
    background: none;
    border: none;
}
.btn_mn {
	font-size: 10px;
	font-weight: bold;
	background-color: #d9c6ac;
	border-radius: 4px;
	padding: 10px 15px;
	margin-top: -44px;
}
.btn_mn:hover, .btn_prod a:focus {
	background-color: #a6a5a3;
	color: #000;
}
.btn_wishlist {
    color: #ED1433;
    font-weight: bold;
    text-transform: uppercase;
    background: url(img/icon-heart-full) left center no-repeat;
    height:14px;
    display: inline-block;
}
.btn--price {
	position: relative;
	float: right;
	text-transform: uppercase;
	font-size: 11.5px;
}
.btn--cart {
	background-color: #a6a4a2;
	padding: 8px 145px;
	color: #fff;
	font-size: 24px;
	margin-top: 20px;
	display: inline-block;
	border-radius: 4px;
}
.btn--cart:hover, .btn--cart a:focus {
	background-color: #d9c6ac;
	color: #827667;
}
span {
	position: absolute;
	width: 91px;
	right: 0;
	margin-top: 30px;
	opacity: .6;
	font-size: 9.5px;
}
.section--container {
	padding: 70px 0px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	margin: 0;
	padding: 0;
}


/* follow us on */

.follow {
	height: 80px;
}
.img__follow {
	float: right;
	width: 40px;
	margin-top: -5px;
	margin-right: 60px;
}
.follow__el:first-child {
	margin-right: 100px;
}
.img__follow:hover, .img__follow a:focus {
	background-color: #d9c6ac;
	border-radius: 2px;
}





/* footer */
.container__credit {
	font-family: "acumin-pro", sans-serif;
}
.container__credit small:last-child {
	float: right;
	opacity: .55;
}
.cf:after {
	display: table;
	clear: both;
	content: "";
}
footer h2 {
	margin-bottom: 28px;
}
footer a {
	text-decoration: none;
	color: #fff;
	font-family: "acumin-pro", sans-serif;
	font-size: 15px;
}
.section--footer .nav {
	columns: 100px 2;
}
.section--footer .nav .footer__el:nth-child(3) {
	margin-bottom: 0;
	margin-right: 80px;
	font-weight: normal;
}
.footer__el {
	margin-bottom: 12px;
}
.newsletter {
	position: relative;
}
.newsletter label {
	display: none;
}
.newsletter input[type = text]{
	float: left;
	font-style: normal;
	font-family: 'Playfair Display', serif;
	letter-spacing: .5px;
}
.newsletter input[type = submit]{
	width: 90px;
	/*height: 49px;*/
	font-family: 'acumin-pro', sans-serif;
	font-style: normal;
	text-transform: uppercase;
	color: #FFF;
	padding: 14px 0;
	background-color: #4a4948;
	border: 2px solid #5e5d5c;
	border-left: 0;
	position: absolute;
	right: -90px;
	top: 0;
}
#email {
	padding: 15px 0;
	padding-left: 20px;
	background-color: #4a4948;
	border: 2px solid #5e5d5c;
	width: 280px;
	font-style: italic;
	position: relative;
}
.col4--last {
	margin-left: 215px;
}
.col4--last .container {
	width: 275px;
}
.col4 address a {
	font-style: normal;
	font-family: 'Playfair Display', serif;
	opacity: .8;
}
.col4 address li:first-child {
	margin-bottom: 20px;
}
.block {
	display: block;
}
.block img {
	display: inherit;
}
.buy {
	padding: 10px;
	padding-left: 44px;
	padding-right: 15px;
	background-color: #d9c6ac;
	border: none;
	border-radius: 4px;
	position: relative;
	font-size: 14px;
	text-transform:uppercase;
	font-weight: 700;
	color: rgba(45,40,37,.6);
}
.buy:before {
	content: "";
	display: inline-block;
	background: url('img/cart.png') no-repeat;
	position: absolute;
	height: 19px;
	width: 16px;
	top: 22%;
	left: 13px;
}
.buy:hover, .buy a:focus {
	background-color: #a6a5a3;
}




